<!DOCTYPE html>
<html>
    <head>
      <title>Blog App</title>
      <link rel="icon" href="/Blog-icon.png">
      <script
      src="https://code.jquery.com/jquery-3.5.0.min.js"
      integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
      crossorigin="anonymous"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/details.css">
        <link rel="stylesheet" type="text/css" href="/app.css">
      </head>
    <body>
        <div class="ui menu inverted fixed">
            <div class="ui container">
            <div class="header item">
              <i class="icon code"></i>
                Blog App
            </div>
            <a class="item" href="/">
                Home
              </a>
            <a class="item" href="/blogs/new">
              New Post
            </a>
          </div>
</div>